.more-about-container {
  margin-bottom: 100px;
}

.more-about-h4 {
  white-space: pre-line;
  font-family: 'Bitter', serif;
  font-size: 18px;
  margin: 0;
  padding: 2%;
}

.more-about-p {
  white-space: pre-line;
  margin: 0;
  padding: 2%;
}

@media screen and (min-width: 40em) {
  .more-about-h4 {
    font-size: 20px;
  }

  .more-about-p {
    font-size: 18px;
  }

  .more-about-container {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 100em) {
  .more-about-h4 {
    font-size: 22px;
  }

  .more-about-p {
    font-size: 20px;
  }
}