.header {
  padding: 2%;
}

.header-h1,
.header-h2,
.header-h3 {
  font-family: 'Bitter', serif;
  margin: 0; 
  padding: 1%;
}

.header-h1 {
  font-size: 32px;
  color: #1D6FAD;
}

.header-h2 {
  font-size: 22px;
}

.header-h3 {
  font-size: 16px;
}


@media screen and (min-width: 40em) {
  .header-h1 {
    font-size: 40px;
  }
  
  .header-h2 {
    font-size: 28px;
  }
  
  .header-h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 100em) {
  .header-h1 {
    font-size: 50px;
  }
  
  .header-h2 {
    font-size: 32px;
  }
  
  .header-h3 {
    font-size: 22px;
  }
}