.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-item-h3 {
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}

.link-style a {
  text-decoration: none;
  font-size: 1rem;
  color: #165280;
  font-weight: bold;
}

.link-style a:hover,
.link-style a:focus {
  color: #1D6FAD;
  transition: color 0.3s ease;
}

.grid-item-h4 {
  color: white;
  text-shadow: 1px 1px black;
  width: 100%;
  margin: 0;
  padding: 2%;
}

.grid-item-h5 {
  color: white;
  text-shadow: 1px 1px black;
  width: 100%;
  margin: 0;
  padding: 2%;
}

.info-container {
  min-height: 600px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.background-container {
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

#Anonygram {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url("../../../image-assets/anonygram-display-feed.png");
}

#AlgorithMe {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url("../../../image-assets/algorithMe.png");
}

#Chord-Courier {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url("../../../image-assets/chord-courier.png");
}

#Sort-Viz {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url("../../../image-assets/sort-viz.png");
}

@media screen and (min-width: 40em) {
  .grid-item {
    grid-column: span 3;
    grid-row: span 1;
  }
}

@media screen and (min-width: 100em) {

}